<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSWM</title>
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/interface.css" rel="stylesheet" />
</head>

<body>
    <nav class="flex-std-sb align-center">
        <div class="nav-left">
            <img class="logo" src="../images/SkillStorm.png" alt="SkillStorm logo" />
        </div>
        <div class="nav-right">
            <button id="logoutBtn">Logout</button>
        </div>
    </nav>

    <script src="../js/logout.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>