main.interface {
    display: flex;
    position: relative;
    top: 78px;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.bg-orange {
    background-color: rgb(255, 176, 30);
}

.bg-light-gray {
    background-color: #f0f0f0;
}

.bg-linear-0-5 {
    background: linear-gradient(to bottom right, #000 16%, 75%, #777);
}

button.shift-button {
    transform: translate(3px, 3px);
    box-shadow: none;
}

.left-nav, .right-panel, .open-left-button {
    min-height: calc(100vh - 78px);
}

/* Left nav styling */
.left-nav {
    position: absolute;
    background: #ddd;
    box-shadow: 0 0 10px #000;
    z-index: 3;
}

.left-nav .nav-list {
    list-style-type: none;
}

.nav__expand {
    width: 2.2rem;
    height: 2.2rem;
    fill: #fff;
    border-radius: 50%;
    position: absolute;
    right: -1.2rem;
    top: 48%;
    transform: translateY(-50%);
    z-index: 99;
    cursor: pointer;
    transform: rotatez(-180deg);
    transition: transform 200ms ease-in-out;
}

.nav__expand:hover {
    fill: #000
}

.left-nav .nav-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.left-nav .nav-list .nav-list-item {
    transition: all 200ms ease-in;
    padding: 1.2rem 1.6rem;
    border-left: 6px solid transparent;
    cursor: pointer;
}

.left-nav .nav-list .nav-list-item:hover {
    background: rgb(194, 255, 255);
}

.nav-list-item .nav-link {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 500;
}

.nav-list-item .nav-link i {
    color: rgb(255, 176, 30);
    font-size: 30px;
}

.nav-list-item.nav-list-item-active {
    background: #bbb;
    border-left: 4px solid #5930ff !important;
}

.nav-list-item.nav-list-item-active i,
.nav-list-item.nav-list-item-active p {
    color: #5930ff;
}

/* Closed left panel */
.left-nav.closed {
    width: 2px;
}

.left-nav.closed .nav__expand {
    transform: rotatez(0deg);
    transform: translateX(15px);
}

.left-nav.closed .nav-list-item {
    display: none;
}

.open-left-button {
    background: rgb(255, 172, 19);
    width: 4px;
}
/* End left nav styling */
/* Right panel styling */
.right-panel {
    width: calc(100% - 4px) !important;
    overflow: scroll !important;
    padding: 0;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.right-panel::-webkit-scrollbar { 
    display: none;
}

.right-panel.closed-left {
    width: calc(100vw - 2px) !important;
    left: 4px !important;
    overflow: scroll !important;
}

.right-panel ul {
    position: relative;
    padding: 0;
    margin: 0.5em 1em;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 3vh;
    width: 100%;
}

.right-panel > ul {
    position: relative;
    left: 70px !important;
    width: calc(100vw - 216.7px) !important;
    margin: 0;
}

.right-panel.closed-left > ul {
    position: relative;
}

.right-panel ul::before {
    content: "";
    position: absolute;
    top: 0vh;
    left: 50.7%;
    height: 3vh;
    border: 1px solid orange;
}

.right-panel ul:first-child::before {
    display: none;
}

.right-panel ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.5vh;
    position: relative;
    width: 160px;
}

.right-panel ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 3vh;
    border: 1px solid orange;
}

.right-panel ul li::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    border-top: 1px solid blue;
}

.right-panel ul li:only-child::after {
    display: none;
}
.right-panel ul li:first-of-type::after {
    width: 50%; 
    right:0;
}
.right-panel ul li:last-of-type::after {
    width: 50%;
    left: 0;
}
.right-panel li:only-child {
    padding-top: 0;
}
.right-panel ul li:only-child::before {
    display: none;
}

.right-panel div * {
    padding: 0.2em;
}
  
.right-panel li div {
  padding: 0.3em;
  margin: 0 0.3em;
  border-radius: 2px;
  text-align: center;
  transition: all 0.3s ease-out;
  background: rgb(223, 211, 211);
  box-shadow: 2px 20px 50px 0 rgb(0 0 0 / 7%);
}

.right-panel span {
  display: block;
}

.right-panel span.span-btn {
    cursor: pointer;
    background: lightblue;
    margin: 2px 4px;
    border: 1px solid rgb(136, 225, 255);
    box-shadow: 2px 2px 4px #555;
}

.right-panel span.span-btn:hover {
    background: rgb(144, 170, 255);
}
.right-panel span.span-btn:focus {
    background: rgb(120, 150, 252);
}

.right-panel li div span:nth-child(3) {
  /* letter-spacing: 0.1em; */
  text-transform: uppercase;
}

/* hover effect*/
.right-panel li div:hover,
.right-panel li div:hover + ul li div {
  background: rgb(206, 188, 188);
  transform: scale(1.02) translateY(-0.2rem);
}

.right-panel li div:hover + ul li::after,
.right-panel li div:hover + ul li::before,
.right-panel li div:hover + ul::before,
.right-panel li div:hover + ul ul::before {
  border-color: rgb(206, 188, 188);
  transform: scale(1) translateY(-0.3rem);
}
/* end right panel for business */

/* right panel for warehouse table */
div.table-container {
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 78px);
}

.table-container div {
    padding: 0 !important;
    overflow: scroll;
}

.table-container h2 {
    margin: 0;
    padding: 0;
}

.right-panel table.warehouse-data {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
    border-collapse: collapse;
    position: relative;
}

.right-panel table.warehouse-data::before,
.right-panel table.warehouse-data::after
 {
    content: "";
    width: 36px;
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
}
.right-panel table.warehouse-data::before {
    left: -36px;
}
.right-panel table.warehouse-data::after {
    right: -36px;
}

table.warehouse-data .header-row {
    background: #ccc;
    width: 100%;
}
.warehouse-data .row {
    width: 100%;
    right: 0;
    cursor: pointer;
}
.row:nth-child(odd) {
    background-color: #dddddd;
}
.table-data {
    border-right: 1px solid #000;
    padding-left: 6px;
}

/* End panel table for warehouses */

/* Right panel card for single warehouse */
.right-panel .card-container {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-panel .card-container .card {
    max-width: 680px;
    margin: 100px 0 26px 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #000;
    background: linear-gradient(to right, rgb(252, 117, 8) , yellow, green, cyan, blue, violet);
    padding: 16px;
}

.right-panel .card-container .card > .card-header {
    position: relative;
    padding: 6px 10px 26px 10px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.right-panel .card-container .card > .card-header .card-image {
    position: absolute;
    width: 84px;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.right-panel .card-container .card .card-body {
    padding: 32px 15px 12px 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.right-panel .card-container .card .card-body button {
    position: relative;
    background: teal;
    color: #f0f0f0;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #7a7a7a;
    box-shadow: 3px 3px 2px 1px #222;
}

.right-panel .card-container .card .card-body button:hover {
    background: #5930ff;
}

.right-panel .card-container .card .card-body button:active {
    box-shadow: none;
}

@media only screen and (max-width: 1276px) {
    .right-panel table.warehouse-data::before,
    .right-panel table.warehouse-data::after {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .right-panel > ul {
        left: 140px !important;
    }

    .right-panel table.warehouse-data {
        font-size: 0.85em;
    }
}
@media only screen and (max-width: 376px) {
    .right-panel > ul {
        left: 160px !important;
    }
}
