@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {box-sizing: border-box;}
body {margin: 0;}

/* utility classes */
.roboto {font-family: 'Roboto', sans-serif;}

.flex-std-sb {
    display: flex;
    justify-content: space-between;
}
.flex-std-c {
    display: flex;
    justify-content: center;
}
.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
}
.fr-5-columns {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.input-1-fr {
    grid-column-start: 1;
    grid-column-end: 2;
}
.label-2-fr {
    grid-column-start: 1;
    grid-column-end: 3;
}
.input-4-fr {
    grid-column-start: 1;
    grid-column-end: 5;
}
.button-grid {
    grid-column-start: 1;
    grid-column-end: 5;
}
/* end utility classes */

/* Nav bar */
nav {
    position: fixed;
    width: 100vw;
    background: #000;
    top: 0;
    z-index: 2;
}

.nav-left, .nav-right {
    margin: 6px 12px;
    padding: 0 6px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.logo {
    width: 150px;
}

#logoutBtn {
    border: none;
    background: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

/* Main landing page */
main.landing {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(teal 0%, 35%, blue 90%), 
        linear-gradient(to right, teal 0%, 40%, purple 90%),
        url("../images/warehouse.jpeg");
    background-blend-mode: screen, difference, lighten;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 0;
    z-index: 1;
}

main.landing header {
    width: 100%;
    text-align: center;
    background: #000;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.7em;
}
main.landing header h1 {
    letter-spacing: 0.1rem;
    font-weight: 300;
    visibility: hidden;
    animation: slide-right 2s forwards;
}
main.landing header h2 {
    font-weight: 100;
    font-style: italic;
    visibility: hidden;
    animation: slide-right 2s 1s  forwards;
}
/* Animation for text to come into screen */
@keyframes slide-right {
    from {
      transform: translateX(-100%) scale(3);
      filter: blur(6px);
      visibility: hidden;
    }
    to {
      transform: translateX(0) scale(1);
      filter: blur(0);
      visibility: visible;
    }
  }

/* End landing page styling */

/* Login page */
.login-page .logo {
    margin: 10px 16px;
}

.login-lock {
    position: relative;
}

.login-lock i {
    color: #fff;
    font-size: 40px;
    position: relative;
    z-index: 2;
}

.login-lock::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background: teal;
    border-radius: 50%;
    z-index: 1;
}
.login-lock::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: teal;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-page form {
    width: 50%;
    max-width: 600px;
    margin: 60px auto;
}

.login-page header {
    width: 120px;
    margin: 12px auto;
    text-align: center;
}

label {
    margin-bottom: 4px;
    margin-left: 2px;
}
input {
    margin-bottom: 12px;
    border-radius: 4px;
    border: 1px solid #555;
    padding: 10px 6px;
}
button.button-grid {
    border-radius: 4px;
    border: none;
    background: teal;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.contains-input {
    position: relative;
    height: 44px;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.contains-input span {
    position: absolute;
    top: 50%;
    left: 36px;
    transform: translateY(-50%);
    font-weight: 400;
}
#rememberMe {
    position: absolute;
    left: 0;
    top: 8.5px;
    width: 22px;
    height: 22px;
}

input:focus{
    background: lightcyan;
    border: 1px solid blue;
}

.form-error {
    color: crimson;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-bottom: 8px;
    font-size: 18px;
}
/* End login page */

@media only screen and (max-width: 600px) {
    /* Landing */
    main.landing header {
        font-size: 1.2em;
        line-height: 0.8em;
    }
    main.landing header h2 {
        line-height: 1em;
        font-size: 1em;
    }
    /* End landing */

    /* login */
    .login-page .logo {
        margin: 4px 16px;
    }
    .login-page form {
        width: 90%;
        margin: 2px auto;
    }
}